body {
    text-align: center;
}



.line {
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}
.profile{
    width: 200px;
    
    border: 5px solid blue;
    padding: 5px;
}


h1{
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
}
.button{
    background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
html{
    scroll-behavior: smooth;
}
img{
    transition: transform .2s;
border: 10px solid #AAAAAA;
    
}